.newtodo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
}

#newtodo__description {
    font-size: 40px;
    letter-spacing: .3px;
    color: #424242;
    padding: 6px;
    display: inline-block;
    flex-basis: 70%;
}

@media only screen and (max-width: 670px) {
    .newtodo {
        flex-wrap: wrap;
    }
}