.todo {
    padding: 10px;
    background-color: #fafafa;
    margin-top: 2%;
    padding: 20px;
    -webkit-box-shadow: -2px 5px 11px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 5px 11px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 5px 11px -4px rgba(0, 0, 0, 0.75);
    transition: box-shadow .5s ease-out;
}

.todo:hover {
    opacity: .8;
}

.todo:active {
    -webkit-box-shadow: -2px -2px 11px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -2px 11px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -2px 11px -4px rgba(0, 0, 0, 0.75);
    transition: box-shadow .5s ease-out;
}

.todo__date {
    font-size: 10px;
    color: gray;
    display: block;
    text-align: right;
    font-weight: bold;
}

.todo__description {
    font-size: 16px;
    color: #01579b;
    display: inline-block;
}

.todo__completed {
    font-style: italic;
    background-color: rgba(128, 128, 128, 0.165);
    text-decoration: line-through;
}

.todo__deleteIcon {
    display: inline-block;
    color: rgba(255, 0, 0, 0.309);
    margin-right: 5px;
    font-size: 16px;
}

.todo__deleteIcon:hover {
    color: rgb(255, 0, 0);
    transition: color .3s ease;
}

.todo__editIcon {
    display: inline-block;
    color: rgba(255, 166, 0, 0.508);
    margin-right: 10px;
    font-size: 18px;
}

.todo__editIcon:hover {
    color: rgb(255, 145, 0);
    transition: color .3s ease;
}