.header {
    padding-right: 1%;
    padding-left: 1%;
    margin-bottom: 10px;
    background-color: #0d47a1;
}

.header__item {
    border: none;
    background: none;
    letter-spacing: .3px;
}

.header__item--signUp {
    background: #00796b;
}

.header__logout {
    border: none;
    background: transparent;
}